.activeJob {
  p {
    margin-bottom: 0;
  }

  .apply {
    display: block;
    letter-spacing: .2em;
    margin-bottom: 2em;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
  }
}

