.app {
  margin: 0 auto;
  max-width: 1240px;
  padding: 2em;

  button {
    background-color: rgba(0,0,0,0.1);
    border: 2px solid #000;
    border-radius: .4em;
    display: block;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .4em;
    margin: 2em auto 2em;
    padding: .8em 1.8em;
    text-transform: uppercase;
    transition:
      background-color 1s linear,
      color 1s linear,
      border-color 1s linear;

    &:hover {
      background-color: rgba(0, 0, 0, .9);
      color: #fff;
      border-color: #000;
    }
  }

  fieldset {
    display: flex;
    flex-flow: row wrap;
  }

  h1 {
    text-align: center;
  }

  h2 {
    padding: 1em 1em 1em 0;
  }

  h3 {
    border: none;
    font-size: 1em;
    letter-spacing: unset;
    margin: 0;
    padding: 1em 0;
    text-transform: none;

    &.employer {
      border: none;
      font-weight: bold;
      font-size: 1.2em;
      letter-spacing: .1em;
      text-align: center;
    }
  }

  p {
    font-style: italic;
  }

  .addressBlock {
    div:nth-child(2) {
      width: 100%;
    }
  }

  .formGroup {
    padding: 1em 2em 1em;
    min-width: 50%;

    input,
    label {
      display: block;
    }

    input,
    select {
      border: 2px solid rgba(0,0,0,0);
      border-bottom: 2px solid #000;
      border-radius: .3em;
      font-size: 1em;
      outline: none;
      padding: .25em;

      &:focus {
        border: 2px solid #000;
      }
    }
    
    input {
      min-width: 80%;
    }

    span {
      font-size: .8em;
      color: red;
    }

    textarea {
      width: 100%;
    }

    &.radio {
      div {
        display: flex;

        label {
          min-width: 4em;
          text-align: center;
        }
      }
    }

    &.textarea {
      width: 100%;
    }
  }

  .full {
    width: 100%;
    padding: 1em 2em 0;
  }
}
