* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #bb3e14;
} 

button {
  a {
    color: #fff;
    font-weight: 500;
  }
}

body {
  color: #464646;
  font-family: "Segoe UI", Roboto, Verdana, "Helvetica Neue", sans-serif;
  font-size: 80%;
  line-height: 1.4283;
  margin: 0;
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.05);

  @media all and (min-width: 900px) {
    font-size: 100%;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
  letter-spacing: .2em;
  margin-top: 0;
  text-transform: uppercase;
}

h2 {
  background-color: #000;
  color: #fff;
  font-size: 1.4em;
  margin-bottom: 1em;
  padding: 2em 2em 1em;
  text-align: right;

  @media all and (min-width: 900px) {
    padding: 2em 6em 1em;
  }
}

h3 {
  text-align: left;
  border-bottom: 2px solid #464646;
  padding: .5em;
}

h4 {
  padding: 0 1em;
}

p {
  padding: 0 1em 1em;

  @media all and (min-width: 900px) {
    padding: 0 2em 1em;
  }
}

section {
  -webkit-box-shadow: inset 0px -30px 50px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px -30px 50px 0px rgba(0,0,0,0.75);
  font-size: 1.4em;
  min-height: 100vh;
  padding-bottom: 4em;
  width: 100%;
}


