body {
  max-width: 600px;
  padding: 50px;
}

h1 {
  text-align: right;
}

h1,
h2 {
  border-bottom: 2px solid #6a6a6a;
  color: #6a6a6a;
  letter-spacing: 1px;
  padding-bottom: 4px;
}

p.address {
  text-align: right;
}

p.bold {
  font-weight: bold;
}

span.true {
  color: green;
}

span.false {
  color: red;
}
