---
layout: default
---

<style>
  .bg-hero {
    background: url("https://d33wubrfki0l68.cloudfront.net/c956c05e0e1163a6724900c9bf7533577c37f3a9/fb07e/images/hero-banner.jpg") no-repeat top left;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
</style>

<section class="bp-hero bg-hero">
  <div class="bp-hero-body">
      <div class="bp-container margin--top--lg">
          <div class="row is-vcentered is-centered ma">
              <div class="col is-9 has-text-centered has-text-white">
                  <h1 class="display padding--bottom--lg margin--none">
                      <b class="is-hidden-touch">Smart Moves Ahead</b>
                      <b class="is-hidden-desktop">Smart Moves Ahead</b>
                  </h1><p class="is-hidden-mobile padding--bottom--lg">Our story is one of progress. Together, we can harness technology to transform the way we live, work and play. Be a trailblazer.</p></div>
          </div>
      </div>
  </div>
</section>
<section class="bp-section ">
  <div class="bp-container is-fluid">
      <div class="row">
          <div class="col is-half is-offset-one-quarter has-text-centered padding--top--xl"><h1 class="has-text-secondary padding--bottom"><b>Join us</b></h1><p>Champion tech for public good via a multifaceted career in the Singapore Government’s Information and Communications Technology & Smart Systems (ICT&SS) sector.</p></div>
      </div>
  </div>
</section>
<section class="bp-section bg-newssection">
  <div class="bp-container"><div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col is-half padding--bottom"><h1 class="has-text-secondary padding--bottom">
          <b>App Design & Development</b>
        </h1><p>Harness the power of tech to build applications we use to work, live, play, learn and more.</p><a href="/tech-careers/application-design-development-and-deployment/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half"><img src="https://d33wubrfki0l68.cloudfront.net/74f20b65e41d2e7e7b35c86e7ea865b9a502dcd3/579cd/images/app-development.png" alt="App Design & Development" /></div>
    </div><div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half"><h1 class="has-text-secondary padding--bottom">
          <b>App Design & Development</b>
        </h1><p>Harness the power of tech to build applications we use to work, live, play, learn and more.</p><a href="/tech-careers/application-design-development-and-deployment/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/74f20b65e41d2e7e7b35c86e7ea865b9a502dcd3/579cd/images/app-development.png" alt="App Design & Development" /></div>
    </div><div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl"><h1 class="has-text-secondary padding--bottom">
          <b>App Design & Development</b>
        </h1><p>Harness the power of tech to build applications we use to work, live, play, learn and more.</p><a href="/tech-careers/application-design-development-and-deployment/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/74f20b65e41d2e7e7b35c86e7ea865b9a502dcd3/579cd/images/app-development.png" alt="App Design & Development" /></div>
    </div>
  </div>
</section>
<section class="bp-section ">
  <div class="bp-container"><div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col is-half padding--bottom"><h1 class="has-text-secondary padding--bottom">
          <b>Cybersecurity</b>
        </h1><p>Defend our cyberspace. Protect our digital way of life.</p><a href="/tech-careers/cybersecurity/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half"><img src="https://d33wubrfki0l68.cloudfront.net/35f1f678d872eadcb5fd43e5bfde93dc1dd52306/e4d42/images/cybersecurity.png" alt="Image alt text" /></div>
    </div><div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/35f1f678d872eadcb5fd43e5bfde93dc1dd52306/e4d42/images/cybersecurity.png" alt="Image alt text" /></div>
      <div class="col is-half"><h1 class="has-text-secondary padding--bottom">
          <b>Cybersecurity</b>
        </h1><p>Defend our cyberspace. Protect our digital way of life.</p><a href="/tech-careers/cybersecurity/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
    </div><div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/35f1f678d872eadcb5fd43e5bfde93dc1dd52306/e4d42/images/cybersecurity.png" alt="Image alt text" /></div>
      <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl"><h1 class="has-text-secondary padding--bottom">
          <b>Cybersecurity</b>
        </h1><p>Defend our cyberspace. Protect our digital way of life.</p><a href="/tech-careers/cybersecurity/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
    </div>
  </div>
</section>
<section class="bp-section bg-newssection">
  <div class="bp-container"><div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col is-half padding--bottom"><h1 class="has-text-secondary padding--bottom">
          <b>Data Science & AI</b>
        </h1><p>Create tech marvels. Discover endless possibilities with Data and AI.</p><a href="/tech-careers/data-science-and-ai/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half"><img src="https://d33wubrfki0l68.cloudfront.net/0006a7ff86e6a74ae01fa3e4c05e137d0d077353/4ecb7/images/data-science.png" alt="Data Science & AI" /></div>
    </div><div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half"><h1 class="has-text-secondary padding--bottom">
          <b>Data Science & AI</b>
        </h1><p>Create tech marvels. Discover endless possibilities with Data and AI.</p><a href="/tech-careers/data-science-and-ai/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/0006a7ff86e6a74ae01fa3e4c05e137d0d077353/4ecb7/images/data-science.png" alt="Data Science & AI" /></div>
    </div><div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl"><h1 class="has-text-secondary padding--bottom">
          <b>Data Science & AI</b>
        </h1><p>Create tech marvels. Discover endless possibilities with Data and AI.</p><a href="/tech-careers/data-science-and-ai/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/0006a7ff86e6a74ae01fa3e4c05e137d0d077353/4ecb7/images/data-science.png" alt="Data Science & AI" /></div>
    </div>
  </div>
</section>
<section class="bp-section ">
  <div class="bp-container"><div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col is-half padding--bottom"><h1 class="has-text-secondary padding--bottom">
          <b>Geospatial</b>
        </h1><p>Tap into Geospatial’s potential. Redefine Singapore’s landscape.</p><a href="tech-careers/geospatial/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>MORE</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half"><img src="https://d33wubrfki0l68.cloudfront.net/a6180346442356ee0e7e8c04c53c4cec4f9bd62f/7c004/images/geospatial.png" alt="Image alt text" /></div>
    </div><div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/a6180346442356ee0e7e8c04c53c4cec4f9bd62f/7c004/images/geospatial.png" alt="Image alt text" /></div>
      <div class="col is-half"><h1 class="has-text-secondary padding--bottom">
          <b>Geospatial</b>
        </h1><p>Tap into Geospatial’s potential. Redefine Singapore’s landscape.</p><a href="tech-careers/geospatial/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>MORE</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
    </div><div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/a6180346442356ee0e7e8c04c53c4cec4f9bd62f/7c004/images/geospatial.png" alt="Image alt text" /></div>
      <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl"><h1 class="has-text-secondary padding--bottom">
          <b>Geospatial</b>
        </h1><p>Tap into Geospatial’s potential. Redefine Singapore’s landscape.</p><a href="tech-careers/geospatial/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>MORE</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
    </div>
  </div>
</section>
<section class="bp-section bg-newssection">
  <div class="bp-container"><div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col is-half padding--bottom"><h1 class="has-text-secondary padding--bottom">
          <b>ICT Infrastructure </b>
        </h1><p>Architect digital infrastructure to power Singapore's digital transformation. </p><a href="/tech-careers/ict-infrastructure/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half"><img src="https://d33wubrfki0l68.cloudfront.net/3e8592802e957e6f6655c21fb339690a8c444a62/ed998/images/ict.png" alt="ICT Infrastructure " /></div>
    </div><div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half"><h1 class="has-text-secondary padding--bottom">
          <b>ICT Infrastructure </b>
        </h1><p>Architect digital infrastructure to power Singapore's digital transformation. </p><a href="/tech-careers/ict-infrastructure/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/3e8592802e957e6f6655c21fb339690a8c444a62/ed998/images/ict.png" alt="ICT Infrastructure " /></div>
    </div><div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl"><h1 class="has-text-secondary padding--bottom">
          <b>ICT Infrastructure </b>
        </h1><p>Architect digital infrastructure to power Singapore's digital transformation. </p><a href="/tech-careers/ict-infrastructure/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/3e8592802e957e6f6655c21fb339690a8c444a62/ed998/images/ict.png" alt="ICT Infrastructure " /></div>
    </div>
  </div>
</section>
<section class="bp-section ">
  <div class="bp-container"><div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col is-half padding--bottom"><h1 class="has-text-secondary padding--bottom">
          <b>Sensors & Internet of Things </b>
        </h1><p>Sensing Singapore, Connecting Citizens.</p><a href="/tech-careers/sensors-and-internet-of-things/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half"><img src="https://d33wubrfki0l68.cloudfront.net/8384027ec1f64b447c02649d424bfc760a5891cf/a30b4/images/sensors-iot.png" alt="Image alt text" /></div>
    </div><div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/8384027ec1f64b447c02649d424bfc760a5891cf/a30b4/images/sensors-iot.png" alt="Image alt text" /></div>
      <div class="col is-half"><h1 class="has-text-secondary padding--bottom">
          <b>Sensors & Internet of Things </b>
        </h1><p>Sensing Singapore, Connecting Citizens.</p><a href="/tech-careers/sensors-and-internet-of-things/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
    </div><div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/8384027ec1f64b447c02649d424bfc760a5891cf/a30b4/images/sensors-iot.png" alt="Image alt text" /></div>
      <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl"><h1 class="has-text-secondary padding--bottom">
          <b>Sensors & Internet of Things </b>
        </h1><p>Sensing Singapore, Connecting Citizens.</p><a href="/tech-careers/sensors-and-internet-of-things/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
    </div>
  </div>
</section>
<section class="bp-section bg-newssection">
  <div class="bp-container"><div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col is-half padding--bottom"><h1 class="has-text-secondary padding--bottom">
          <b>Tech Policy & Governance </b>
        </h1><p>Set the stage. A Smart Nation calls for tech, talent and thought leadership. Be the one who helps bring it all together.</p><a href="/tech-careers/tech-policy-and-governance/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half"><img src="https://d33wubrfki0l68.cloudfront.net/eeeec3104802d05d968a9377b57d8607410c8db2/c47dc/images/tech-governance.png" alt="Tech Policy & Governance " /></div>
    </div><div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half"><h1 class="has-text-secondary padding--bottom">
          <b>Tech Policy & Governance </b>
        </h1><p>Set the stage. A Smart Nation calls for tech, talent and thought leadership. Be the one who helps bring it all together.</p><a href="/tech-careers/tech-policy-and-governance/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/eeeec3104802d05d968a9377b57d8607410c8db2/c47dc/images/tech-governance.png" alt="Tech Policy & Governance " /></div>
    </div><div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl"><h1 class="has-text-secondary padding--bottom">
          <b>Tech Policy & Governance </b>
        </h1><p>Set the stage. A Smart Nation calls for tech, talent and thought leadership. Be the one who helps bring it all together.</p><a href="/tech-careers/tech-policy-and-governance/" class="bp-sec-button margin--top padding--bottom">
            <div>
              <span>More</span>
              <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
          </a></div>
      <div class="col is-half is-half padding--top--xl padding--bottom--xl"><img src="https://d33wubrfki0l68.cloudfront.net/eeeec3104802d05d968a9377b57d8607410c8db2/c47dc/images/tech-governance.png" alt="Tech Policy & Governance " /></div>
    </div>
  </div>
</section>
